div{
    height: 200px;
    width:  650px;
    background-color:rgb(203, 192, 255);
 /*   border-width:5px;
    border-color:black;
    border-style:solid;
    border-left-style:dotted;
    border-left-color:green;
    border-top-color:purple;
    border-top-style:dotted;
    */
    border:5px solid yellow;
    border-radius:1px;
    border-top-right-radius:5px;
padding-right: 10px;;
}
h1{
    border-width:2px;
    border-style: dashed;
    border-color:blue;
}
/*norder shorthand -width|style|color
h1{
border:5px dashed blue;

}

*/
button{
    border:2px solid black;
    border-radius:10px;
    padding-left:25px;
    padding-right:25px;
    background-color:blanchedalmond;
}


