.card{
    width:400px;
    background-color:azure;
    padding:10px;
    margin:10px;
    border-radius:25px;
    
 

}
span{
    color:orange;
}
h2{
    color:red;;
}
img{
   
    width:200px;
    border-radius:25px;

}
h4{
    text-align:right;
    color:green;
}
#pets{
    display:flex;
    justify-content:space-evenly;
   
}
@media(max-width:375px){
#pets{
    flex-wrap:wrap
    
}
}