*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.main_box{
    background:url(camera.jpg);
    height:100vh;
    background-size:cover;
    filter:blurr 4px;
}
.button_on{
    font-size:30px;
    font-weight:700;
    position:absolute;
    left:16px;
    line-height:65px;
}
.sidebar_menu{
    position:fixed;
    left:-300px; 
   height:100vh;
   width:300px;
   background-color:rgb(183, 165, 165,0.1);
   box-shadow:0 0 6px rgb(243, 133, 133,0.6)
}
.sidebar_menu .logo{
position:absolute;
width:100%;
line-height:60px;
box-shadow:0 0 6px rgb(243, 133, 133,0.6);

}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
font-weight:500px;
text-decoration:none;
font-size:20 px;
}

.sidebar_menu .button_two{
    color:rgb(93, 85, 85);
    position:absolute;
    font-size:25px;
    line-height:64px;
    width:100px;
    left:270px;
    bottom:645px;
  cursor:pointer;

}
.sidebar_menu .menu {
    position:absolute;
    width:100%;
    top:80px;
    }
.sidebar_menu .menu li{
margin:20px;
padding:10px 20px;

}
.sidebar_menu .menu span , a{
color:white;
text-decoration:none;
font-size:20px;
}
.sidebar_menu .menu span{
    padding-right:8px;
}
.sidebar_menu .social_media{
color:grey;
opacity:0.5px;
position:absolute;
left:25%;
bottom:-20%;

}
.sidebar_menu .social_media ul a{
    padding:10px;
    opacity:50%;
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px rgb(237, 181, 181,0.5);
}
.button_two:hover{
    font-size:20px; 
}
.sidebar_menu .social_media a:hover{
    opacity:2;
    transform:scale(2);
}
#check:checked ~ .sidebar_menu{
    left:400;
}
